[submodule "clases-abstractas"]
	path = clases-abstractas
	url = https://github.com/Gdaimon/clases-abstractas.git
[submodule "arraylist"]
	path = arraylist
	url = https://github.com/Gdaimon/arraylist.git
[submodule "arreglos"]
	path = arreglos
	url = https://github.com/Gdaimon/arreglos.git
[submodule "calculadora"]
	path = calculadora
	url = https://github.com/Gdaimon/calculadora.git
[submodule "casting"]
	path = casting
	url = https://github.com/Gdaimon/casting.git
[submodule "clases-objetos"]
	path = clases-objetos
	url = https://github.com/Gdaimon/clases-objetos.git
[submodule "clase-string"]
	path = clase-string
	url = https://github.com/Gdaimon/clase-string.git
[submodule "ejercicio-arrayList"]
	path = ejercicio-arrayList
	url = https://github.com/Gdaimon/ejercicio-arrayList.git
[submodule "ejercicio-herencia"]
	path = ejercicio-herencia
	url = https://github.com/Gdaimon/ejercicio-herencia.git
[submodule "ejercicios-semana-2"]
	path = ejercicios-semana-2
	url = https://github.com/Gdaimon/ejercicios-semana-2.git
[submodule "ejercicio-streams"]
	path = ejercicio-streams
	url = https://github.com/Gdaimon/ejercicio-streams.git
[submodule "esctructura-clase"]
	path = esctructura-clase
	url = https://github.com/Gdaimon/esctructura-clase.git
[submodule "estaticos"]
	path = estaticos
	url = https://github.com/Gdaimon/estaticos.git
[submodule "estructuras-de-Control"]
	path = estructuras-de-Control
	url = https://github.com/Gdaimon/estructuras-de-Control.git
[submodule "graficos-ui"]
	path = graficos-ui
	url = https://github.com/Gdaimon/graficos-ui.git
[submodule "herencia-a"]
	path = herencia-a
	url = https://github.com/Gdaimon/herencia-a.git
[submodule "herencia-b"]
	path = herencia-b
	url = https://github.com/Gdaimon/herencia-b.git
[submodule "hola-mundo"]
	path = hola-mundo
	url = https://github.com/Gdaimon/hola-mundo.git
[submodule "interfaces"]
	path = interfaces
	url = https://github.com/Gdaimon/interfaces.git
[submodule "interfaces-ejercicio"]
	path = interfaces-ejercicio
	url = https://github.com/Gdaimon/interfaces-ejercicio.git
[submodule "metodos-acceso"]
	path = metodos-acceso
	url = https://github.com/Gdaimon/metodos-acceso.git
[submodule "modificadores-acceso"]
	path = modificadores-acceso
	url = https://github.com/Gdaimon/modificadores-acceso.git
[submodule "paso-valores-referencia"]
	path = paso-valores-referencia
	url = https://github.com/Gdaimon/paso-valores-referencia.git
[submodule "polimorfismo"]
	path = polimorfismo
	url = https://github.com/Gdaimon/polimorfismo.git
[submodule "programacion-funcional"]
	path = programacion-funcional
	url = https://github.com/Gdaimon/programacion-funcional.git
[submodule "pruebas-unitarias"]
	path = pruebas-unitarias
	url = https://github.com/Gdaimon/pruebas-unitarias.git
[submodule "repaso-objetos"]
	path = repaso-objetos
	url = https://github.com/Gdaimon/repaso-objetos.git
[submodule "retorno-valores"]
	path = retorno-valores
	url = https://github.com/Gdaimon/retorno-valores.git
[submodule "clases-wrapper"]
	path = clases-wrapper
	url = https://github.com/Gdaimon/clases-wrapper.git
