[submodule "clases-abstractas"]
	path = clases-abstractas
	url = https://github.com/Gdaimon/clases-abstractas.git
[submodule "arraylist"]
	path = arraylist
	url = https://github.com/Gdaimon/arraylist.git
[submodule "arreglos"]
	path = arreglos
	url = https://github.com/Gdaimon/arreglos.git
[submodule "calculadora"]
	path = calculadora
	url = https://github.com/Gdaimon/calculadora.git
[submodule "casting"]
	path = casting
	url = https://github.com/Gdaimon/casting.git
[submodule "clases-objetos"]
	path = clases-objetos
	url = https://github.com/Gdaimon/clases-objetos.git
[submodule "clase-string"]
	path = clase-string
	url = https://github.com/Gdaimon/clase-string.git
[submodule "ejercicio-arrayList"]
	path = ejercicio-arrayList
	url = https://github.com/Gdaimon/ejercicio-arrayList.git
[submodule "ejercicio-herencia"]
	path = ejercicio-herencia
	url = https://github.com/Gdaimon/ejercicio-herencia.git
